form{
    position: relative;
    top:200px;
    left: 375px;
}

img{
    position: relative;
    top:200px;
    left: 375px;
}
.search{
    width:400px;
    position: relative;
    right:95px;
    border-radius: 15px;
    height: 25px;
    margin: 20px;
}

.btn{
    height: 35px;
    margin: 10px;
}